[Unit]
Description=Restart sssd after system resume to fix LDAP temporarily being unavailable
DefaultDependencies=no
After=systemd-suspend.service systemd-hybrid-sleep.service systemd-hibernate.service
RefuseManualStart=true

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-sssd_restart
RemainAfterExit=no

