[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=docker-init
Type=Application
Exec="/opt/openslx/vmchooser/plugins/docker/docker-init"
Icon=
Terminal=true
StartupNotify=true
Hidden=false
GenericName=
GenericName[en_US]=