[Unit]
Description=System Security Services Daemon
# SSSD will not be started until syslog is
After=syslog.target

[Service]
EnvironmentFile=-/etc/sysconfig/sssd
ExecStartPre=/opt/openslx/scripts/systemd-patch_sssd_conf
ExecStart=%PATH% -i -f
# These two should be used with traditional UNIX forking daemons
# consult systemd.service(5) for more details
PIDFile=/var/run/sssd.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
