[Unit]
Description=Sets up the vmware environment
Requires=run-virt-env.service
After=run-virt-env.service tmp.target

[Service]
Type=forking
ExecStart=/opt/openslx/scripts/systemd-vmware_env
