*~
aufs?-standalone/
build/
.built
/config
.fetched_source
ksrc/
list*
logs/
openslx.config
overlay
rootupper/
*.so
src/
*.swp
test
tmp/chroot
tmp/work
var/builds
var/log
**/winres/tmp/
**/winres/winres.exe
/tmp/nfscache
