[KdmGreeterTheme]
Encoding=UTF-8
Greeter=theme.xml
Name=bwLehrpool KDM theme
Description=Basic bwLehrpool KDM Theme
Author=Base by aceph <aceph@ventcore.net>, modified by MJanc, sr
Copyright=Creative Commons
