[Unit]
Description=Reload the kernel/initramfs via kexec
Documentation=man:kexec(8)
DefaultDependencies=no
Before=shutdown.target final.target kexec.target

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-kexec_load

[Install]
WantedBy=kexec.target
