## nvidia
# 8800 GTS
10de:0193          @nvidia
# ION
10de:087d          @nvidia
##
# 10de-11c0: nvidia Geforce GTX 660 (OG)
# 10de-0fc2: nvidia GeForce GT 630  (OG)
# 10de-0dd8: nvidia Quadro 2000
##
10de:11c0          @nvidia
10de:0fc2          @nvidia
10de:0dd8          @nvidia
## intel
# Dell GX 620
8086:2772          i915
# aliases
@nvidia            nvidia/nvidia.ko nvidia/nvidia-uvm.ko nvidia/nvidia-modeset.ko
@nvidia_fallback   nouveau
