[Unit]
Description=Printergui - bwLehrpool printing system
Requires=network.target graphical.target
After=network.target stage4.target
Before=cups.service

[Service]
ExecStart=/opt/openslx/scripts/systemd-printergui_preparation
