# This will trigger network.target etc. at an early point,
# if network setup happened in stage31 (dhcp...)
[Unit]
Description=Trigger network targets early
DefaultDependencies=no
Wants=systemd-tmpfiles-setup.service
Before=sysinit.target
After=systemd-tmpfiles-setup.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-early_network_triggers
RemainAfterExit=yes
