[Unit]
Description=Mount Openslx Stage 4
DefaultDependencies=no
Wants=setup-dnbd3.service stage4.target
After=setup-dnbd3.service
Before=stage4.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openslx/scripts/systemd-mount_stage4
