[Unit]
Description=Setup SLX addon %i
DefaultDependencies=no
Wants=tmp.target download-slx-addon@%i.service
After=tmp.target download-slx-addon@%i.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-setup_slx_addons %I
RemainAfterExit=yes
