[Unit]
Description=Setup ID 44 /tmp
DefaultDependencies=no
Before=basic.target tmp.target
After=systemd-udev-settle.service systemd-udevd.service
Wants=tmp.target systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-setup_partitions --tmp
RemainAfterExit=yes
