[Unit]
Description=Download, mount and append SLX addons
After=tmp.target
Wants=tmp.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-setup_slx_addons
RemainAfterExit=yes

