[Unit]
Description=Setup dnbd3 kernel module and user space daemon
After=sysinit.target
Before=shutdown.target
DefaultDependencies=no

[Service]
ExecStart=/opt/openslx/scripts/systemd-setup_dnbd3
ExecStop=/opt/openslx/bin/dnbd3-client --kill
ExecStopPost=/opt/openslx/bin/rm /var/run/dnbd3.socket
Restart=on-abort
