[Unit]
Description=OpenSSH Daemon
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Service]
ExecStart=/usr/sbin/sshd -D
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
