[Unit]
Description=Update /etc/issue
After=tmp.target
Before=getty-pre.target getty.target shutdown.target
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/openslx-create_issue
RemainAfterExit=no
