[Unit]
Description=Common Unix Printing System
After=network.target
ConditionFileNotEmpty=/etc/cups/printers.conf

[Service]
ExecStartPre=-/opt/openslx/scripts/systemd-cupsd_prestart
ExecStart=/usr/sbin/cupsd -f
