[Unit]
Description=Common Unix Printing System
Requires=network.target graphical.target
After=network.target
Before=graphical.target
ConditionFileNotEmpty=/etc/cups/printers.conf

[Service]
ExecStart=/usr/sbin/cupsd -f
