[Unit]
Description=Sets up the QEMU hypervisor
Requires=run-virt-env.service
Requires=libvirtd.service
After=run-virt-env.service
After=libvirtd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openslx/scripts/systemd-qemu_env start
