# Enable WOL on boot NIC
ACTION=="add", SUBSYSTEM=="net", NAME=="eth0", RUN+="%ETHTOOL% -s $name wol g"
ACTION=="add", SUBSYSTEM=="net", NAME=="boot0", RUN+="%ETHTOOL% -s $name wol g"
# Disable pause frames on any adapter found
ACTION=="add", SUBSYSTEM=="net", RUN+="/opt/openslx/scripts/udev-disable_pause_frames $name"
