[Unit]
Description=DHCP Client for %i
After=systemd-tmpfiles-setup.service
Wants=network.target

[Service]
Type=simple
ExecStart=/opt/openslx/scripts/systemd-udhcpc %i
Restart=on-failure

