[Unit]
Description=Sets up the virtual box environment
Requires=run-virt-env.service network.target
After=run-virt-env.service network.target tmp.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openslx/scripts/systemd-vbox_env
