[Unit]
Description=Sets up the virtual box environment
Requires=vmchooser.service
After=vmchooser.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openslx/scripts/systemd-vbox_env start
