[Unit]
Description=Sets up the virtualization environment
Before=graphical.target system-check.service
After=systemd-tmpfiles-setup.service bridge-additional-nics.service
Wants=systemd-tmpfiles-setup.service system-check.service bridge-additional-nics.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openslx/scripts/systemd-run_virt_env
