[Unit]
Description=Sets up the virtualization environment
Before=graphical.target system-check.service
Wants=network-dns.target system-check.service
After=network-dns.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openslx/scripts/systemd-run_virt_env
