[Unit]
Description=Terminate Plymouth Boot Screen
Before=display-manager.service
After=systemd-user-sessions.service

[Service]
ExecStart=-/bin/plymouth quit
Type=oneshot
TimeoutSec=20
