[Unit]
Description=Setup zram swap partitions if necessary
DefaultDependencies=no
Wants=swap.target
Before=swap.target
# As our script checks whether there are other swap partitions available...
After=setup-partitions.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-zram_swap
RemainAfterExit=yes
