[Unit]
Description=Setup local disk partitions (persistent, swap)
After=systemd-udev-settle.service systemd-udevd.service
Wants=tmp.target persistent.target
Before=persistent.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-setup_partitions --persistent --swap --linux
RemainAfterExit=yes
