[Unit]
Description=DNBD3 proxy server
Requires=setup-dnbd3-proxy.service
After=setup-dnbd3-proxy.service

[Service]
User=dnbd3
ExecStart=/opt/openslx/scripts/systemd-dnbd3_proxy
Restart=always
RestartSec=3
TimeoutStopSec=10
LimitNOFILE=65536
