[Unit]
Description=DNBD3 proxy server config generator
Wants=tmp.target
After=tmp.target
Before=getty.target update-etc_issue.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-setup_dnbd3_proxy
RemainAfterExit=true
