[Unit]
Description=Setup DNBD3 proxy server
After=setup-partitions.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-setup_dnbd3_proxy
