[Unit]
Description=Report system checks
Before=display-manager.service
Wants=network-online.target
After=network-online.target
After=gather-hw-info.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-system_check
RemainAfterExit=yes
