[Unit]
Description=Grow size of rootfs to underlying block device
DefaultDependencies=no
Before=gather-hw-info.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/openslx/scripts/systemd-grow_rootfs
