[Unit]
Description=Create fresh pam config and nsswitch.conf
Before=graphical.target display-manager.target sssd.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/pam/systemd/create-pam-config

