[Unit]
Description=Gather hardware information about this machine
Wants=tmp.target
After=tmp.target
# Because we might mount something to /tmp/virt there, which we use for ID44 calculation
After=run-virt-tmpdir.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-gather_hw_info
RemainAfterExit=yes

