[Unit]
Description=Gather statistics about this machine and send to boot server
After=tmp.target mount-vm-store.service network.target run-virt-env.service
Wants=tmp.target system-check.service
Before=system-check.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-hardware_stats
RemainAfterExit=yes
ExecStop=/opt/openslx/scripts/shutdown-system_usage_update

