[Unit]
Description=Send hardware information to boot server
After=gather-hw-info.service
Wants=gather-hw-info.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-hardware_report
RemainAfterExit=yes
ExecStop=/opt/openslx/scripts/shutdown-system_usage_update
