[Unit]
Description=Gather hardware information about this machine
Wants=tmp.target
After=tmp.target
# Because we might mount something to /tmp/virt there, which we use for ID44 calculation
After=run-virt-env.service
# This one needs the data we gather
Before=system-check.service

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/systemd-hardware_stats
RemainAfterExit=yes

