[Unit]
Description=Tell server we're shutting down
DefaultDependencies=no
Before=shutdown.target
After=-.mount network-online.target
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/shutdown-system_usage_update
RemainAfterExit=yes

