[Unit]
Description=Tell server we're shuttong down
DefaultDependencies=no
Before=shutdown.target
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/shutdown-system_usage_update
RemainAfterExit=yes

