[Unit]
Description=Send shutdown event to boot server
# Try this as a dedicated service in addition to the ExecStop=
# entry in the hardware-stats.service, as that one sometimes
# doesn't trigger/reach the server :-(
Wants=network.target
Before=shutdown.target
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/openslx/scripts/shutdown-system_usage_update

