#!/bin/ash

if ! [ -e /sys/module/nvidia/version ]; then
	echo "No driver loaded, not enabling"
	exit 1
fi
[ "$( cat /sys/module/nvidia/version )" = "%TARGET_VERSION%" ] && exit 0
echo "Driver version mismatch, not enabling"
exit 1
