[Unit]
Description=KDM Display Manager
Conflicts=getty@tty7.service
After=systemd-user-sessions.service getty@tty7.service load-gfx-driver.service setup-slx-addon@vmware.service setup-slx-addon@virtualbox.service

[Service]
ExecStartPre=-/opt/openslx/bin/killall fbsplash
ExecStart=/usr/bin/kdm -nodaemon
Restart=always
IgnoreSIGPIPE=no
